.app-button {
    padding: 1rem;
    color: inherit;
    border-radius: 2rem;
    font-size: medium;
    border: none;
    opacity: 1;
    position: relative;
    display: flex;
    gap: .5rem;

    &:hover {
        cursor: pointer;

        /* Applying translucent white background on hover */
        &::before {
            content: "";
            background-color: #ffffff22;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: inherit;
        }
    }
}

.primary {
    background-color: var(--primary-color);
}

.ghost {
    background-color: transparent;
    border: 1px solid var(--fg-primary-color);
}