.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 6rem;
    border-bottom: 2px solid var(--border-primary-color);
    background-color: var(--bg-color);
    flex-grow: 0;
}