html {
  scroll-padding-top: 104px;
}

body {
  margin: 0;
  font-family: 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--fg-primary-color);
  background: var(--bg-primary);
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-color: #94739f;
  --bg-color: #252525;
  --fg-primary-color: #ddd;
  --fg-secondary-color: #777;
  --border-primary-color: #333;
  --bg-primary: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
  --bg-secondary: radial-gradient(circle at 24.1% 68.8%, rgb(0, 0, 0) 0%, rgb(30, 30, 30) 99.4%);

  --btn-highlight-color: color-mix(in srgb, white 10%, transparent);
  --btn-highlight-overlay: linear-gradient(var(--btn-highlight-color), var(--btn-highlight-color));

  .h-padding {
    padding-inline: 6rem;
  }

  .section {
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-bottom: 2px solid var(--border-primary-color);

    &::before {
      content: "";
    }
  }

  .title {
    font-size: xx-large;
    color: var(--primary-color);
    margin-top: 0;
  }

  .subheading {
    font-size: larger;
    color: var(--primary-color);
    margin-top: 0;
  }
}